h1{
padding:10px;
margin:15px;
background-color:black;
color:white;
font-size:50px;
text-align:center;
margin-bottom:20px;
}

.jaime{
background-image:url("images/like.png");
width:10px;
}

.jaime:hover{
width:20px;
}

.love{
background-image:url("images/love.png");
width:10px;
}

.love:hover{
width:20px;
}

.hate{
background-image:url("images/hate.png");
width:10px;
}
.hate:hover{
width:20px;
}

.haha{
background-image:url("images/haha.png");
width:10px;
}
.haha:hover{
width:20px;
}

.loupe{
background-image:url("images/loupe.png");
}
.sub
{
	width:150px;
	border-radius: 50px;
	
}
.sub:hover
{
	background-color:#F9C369;
}

.liens
{
text-align:center;
background-color:#edebeb;
}
.coverpic
{
width: 360px;
height:200px;
}

.ppic
{
height:100px;
}


.miniGauche
{

text-align:center;
font-size:10px;
color:grey;
}

.miniDroite
{
background-color:#E2E2E2;
width:375px;

}

.miniDroite a
{
margin:5px;
padding:2px;
color:black;
font-size:25px;

}

.miniDroite a:hover
{
background-color:#F9C369;
border-radius:50px;
padding:5px;
}

.miniDroite img
{
width:40px;
height:40px;
}

/*début du CSS du template*/

body
{
	margin:0px;
	padding:0px;
}
.logo
{
	width: 75px;
	margin-left: 20px;
}

.header
{
	background-image : url("images/fondetoile.png");
	border-bottom-color: white;
	border-bottom-style: solid;
}
.titre 
{
	font-size: 50px;
	color: white;
	
}

.recherche
{
	margin-top:15px;
	font-size: 20px;
	width: 450px;
}

.msg
{
	font-size: 25px;
	margin-top:15px;
	background-color:white;
	width: 200px;
	border-radius: 50px;
}

.msg:hover
{
	background-color:#F9C369;
}

.gauche
{
	background-image:url("images/fond_etoile2.png");
	font-size:20px;
	color:white;
	height:700px;
}

.droite
{
	background-image:url("images/fond_etoile2.png");
	size:100%;
	height:700px;
	color:white;
	text-align:center;
	font-size:20px;
}

.pp
{
width:100px;
height:100px;
margin-bottom:25px;
}

.droite span
{
	margin-top:50px;
}
.yoda
{
	margin-top:25px;
	margin-bottom:25px;
}
.row
{
	margin: 0px;
	padding: 0px;
}

.container-fluid
{
	margin: 0px;
	padding: 0px;
}

.contenu div
{
	text-align: center;
	margin: auto;

}
.contenu span
{
	padding-left: 15px;
	display:block;
	
}
.noms
{
	font-size:35px;
	text-align:center;
}

.reglages
{
	width:25px;
	height:25px;
}