.contenu {
background-image:url("fondAccueil.png");
}

body
{
	background-image : url("images/fondAccueil.png");
	background-size: 100%;
}

.logo
{
	width: 75px;
	margin-left: 20px;
}

.header
{
	background-image : url("images/fondetoile.png");
	border-bottom-color: white;
	border-bottom-style: solid;
}
.titre 
{
	font-size: 50px;
	color: white;
}

.contenu
{
	text-align:center;
	font-size: 30px;
	color:white;
	padding-top: 50px;
}

form
{
	color: black;
	margin-bottom: 30px;
}

input
{
	font-size: 15px;
	width: 50%;
}

.moitie
{
	width: 24.5%;
}


.bluf
{
	padding-top:10px;
	color: white;
	text-align: center;
	font-size:9px;
	color:yellow;
}

.bluf span 
{
	font-size:20px;
	color:white;
}

.sub
{
	width:150px;
	border-radius: 50px;
	
}
.sub:hover
{
	background-color:#F9C369;
}