h1
{
text-align:center;
background-color:#d2d1d1;
margin:0px 20px 0px 20px;
}

.loupe{
background-image:url("images/loupe.png");
}

.liens
{
text-align:center;
background-color:#edebeb;
}

.ligne
{
border-top : 1px solid #000;
margin-left:30px;margin-right:30px;
}

.pp2{
position:absolute;
left:20px;
top:200px;
width:150px;
height:150px;

}

.sub
{
	width:150px;
	border-radius: 50px;
	
}
.sub:hover
{
	background-color:#F9C369;
}

.coverpic{

margin-left:20px;
margin-top:20px;
text-align:center;
width:747px;
height:250px;
}

/*début du template*/
body
{
	margin:0px;
	padding:0px;
}
.logo
{
	width: 75px;
	margin-left: 20px;
}

.header
{
	background-image : url("images/fondetoile.png");
	border-bottom-color: white;
	border-bottom-style: solid;
}
.titre 
{
	font-size: 50px;
	color: white;
	
}

.recherche
{
	margin-top:15px;
	font-size: 20px;
	width: 500px;
}

.msg
{
	font-size: 25px;
	margin-top:15px;
	background-color:white;
	width: 200px;
	border-radius: 50px;
}

.msg:hover
{
	background-color:#F9C369;
}

.gauche
{
	background-image:url("images/fond_etoile2.png");
	font-size:20px;
	color:white;
	height:700px;
}

.droite
{
	background-image:url("images/fond_etoile2.png");
	size:100%;
	height:700px;
	color:white;
	text-align:center;
	font-size:20px;
}

.pp{
width:100px;
height:100px;
margin-bottom:25px;
}

.droite span
{
	margin-top:50px;
}
.yoda
{
	margin-top:25px;
	margin-bottom:25px;
	width:60%;
	height:60%;
}
.row
{
	margin: 0px;
	padding: 0px;
}

.container-fluid
{
	margin: 0px;
	padding: 0px;
}

.contenu span
{
	padding-left: 15px;
	display:block;
	
	
}

.noms
{
	font-size:35px;
	text-align:center;
}

.reglages
{
	width:25px;
	height:25px;
}


